{% extends "public/templates/public_template.html" %}

{% block title %}BZMAN Features{% endblock %}

{% block main%}

<style>
    .jumbotron {
        background-color: rgb(53, 53, 53);
        /* Orange */
        color: rgba(255, 255, 255, 0.788);
        padding: 100px 50px;
        font-size: x-large;
    }

    .container-fluid {
        padding: 60px 40px;
    }
</style>

<div class="jumbotron text-center">

    <h1>Manage your Business Activities with Ease</h1>
    <br>
    <h4>Designed for small business needs</h4>
    <img src="{{ url_for('static', filename='img/screenshots/CompanyList.png') }}" class="img-fluid"
        style='.img-fluid.max-width: 100%; height:auto;'>
</div>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm">
            <h2 style="center-text">Effortlessly manage bussiness activities</h2>
            <h4>Create and manage your company database with a simple and intuitive interface</h4>
        </div>
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/NewDataBase.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
    </div>
</div>
<hr>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/QuickActions.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
        <div class="col-sm">
            <h2 style="center-text">Manage customer invoices and payments</h2>
            <h4>View and add new invoices and payments without any hassle</h4>
        </div>
    </div>
</div>
<hr>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm">
            <h2 style="center-text">Add new invoices and payments</h2>
            <h4>Create and manage your customer invoices and payments</h4>
        </div>
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/NewInvoice.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
    </div>
</div>
<hr>

<div class="container-fluid text-left">
    <div class="row">
        <h1>View all current and past invoices for a customer with detailed information</h1>
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/ViewAllinvoices.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/InvoiceDetails.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
        <!-- <div class="col-sm">
            <h2 style="center-text">View all current and past invoices for a customer</h2>
            <h4>
            </h4>
        </div> -->
    </div>
</div>
<hr>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/InvoiceDetails.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
        <div class="col-sm">
            <h2 style="center-text">Detailed information on all invoices and payments</h2>
            <h4>Track your payments and invoice balances with only one click. Get detailed information on 
                current and past invoices
            </h4>
        </div>
    </div>
</div>
<hr>

<div class="container-fluid text-left">
    <div class="row">
        <div class="col-sm">
            <h2 style="center-text">Customer account summary</h2>
            <h4>Get customer account summaries at your fingertips</h4>
        </div>
        <div class="col-sm">
            <img src="{{ url_for('static', filename='img/screenshots/QuickSummary.png') }}" class="img-fluid" style=".img-fluid.max-width: 100%; height:auto;">
            <!-- <span class="glyphicon glyphicon-signal logo"></span> -->
        </div>
    </div>
</div>
<hr>


<!-- <div class="jumbotron text-center">

    <h1>Create New Database</h1>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
            src="{{ url_for('static', filename='video/create_add_edit_entry.mp4') }}"></iframe>
    </div>

</div> -->

{% endblock %}