{% extends "public/templates/public_template.html" %}

{% block title %}BZMAN - Simplify your daily business activities{% endblock %}

{% block main%}

<style>
    .jumbotron {
        background-color: rgb(53, 53, 53); /* Orange */
      color: rgba(255, 255, 255, 0.788);
      padding: 100px 50px;
      font-size: x-large;
    }

    .container-fluid {
        padding: 60px 40px;
    }

    .btn-xl {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        background-color: #4ecca3;
        color: black;
        width: 250px;
        height: 50px;  
    }

    .btn-toolbar-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="jumbotron text-center">
    <!-- <h1>B Z M A N</h1> -->
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <img src="{{ url_for('static', filename='img/bzman_logo.png') }}" alt="BZMAN logo" style="max-width: 300px;">
            <br>
            <h4>Simplify your Daily Business</h4>
            <br>
            <div class="btn-toolbar mb-3 btn-toolbar-center" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <a href="/features" class="btn btn-primary btn-xl">Check Out Features</a>
                </div>
                <div class="btn-group mr-2" role="group">
                    <a href="/downloads" class="btn btn-primary btn-xl">Download Trial</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}